Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

fix(accessibility): replace title with aria-label on payment icons
  src/pages/admin/FlowManagement.tsx
Owners: @billeterie-maido/frontend

feat(admin): expose activity stock limit in pass management
  src/pages/admin/PassManagement.tsx
Owners: @billeterie-maido/frontend

fix: handle array responses for activities
  src/pages/admin/PassManagement.tsx
Owners: @billeterie-maido/frontend

fix(reports): handle array relations
  src/pages/admin/Reports.tsx
Owners: @billeterie-maido/frontend

fix: replace unused entry param in activity chart
  src/pages/admin/Reports.tsx
Owners: @billeterie-maido/frontend

fix(admin): shape reservations result
  src/pages/admin/ReservationManagement.tsx
Owners: @billeterie-maido/frontend

fix: handle event activity array
  src/pages/admin/TimeSlotManagement.tsx
Owners: @billeterie-maido/frontend

test: update provider layout nav test imports
  src/pages/provider/__tests__/ProviderLayout.nav.test.tsx
Owners: @billeterie-maido/frontend

refactor: remove unnecessary React imports
  src/App.tsx
  src/__tests__/PassManagement.modal.test.tsx
  src/components/AdminLogin.tsx
  src/components/CheckoutForm.tsx
  src/components/ConfirmationModal.tsx
  src/components/FAQAccordion.tsx
  src/components/MarkdownRenderer.tsx
  src/components/ProviderLogin.tsx
  src/components/admin/AnimationsManager.tsx
  src/components/admin/EventActivitiesManager.tsx
  src/components/admin/EventForm.tsx
  src/components/admin/FAQEditor.tsx
  src/components/admin/MarkdownEditor.tsx
  src/components/admin/TimeSlotsManager.tsx
  src/components/admin/__tests__/MarkdownEditor.test.tsx
  src/components/validation/ReservationValidationForm.tsx
  src/pages/EventCGV.tsx
  src/pages/EventDetails.tsx
  src/pages/EventFAQ.tsx
  src/pages/FindTicket.tsx
  src/pages/Profile.tsx
  src/pages/admin/ActivityManagement.tsx
  src/pages/admin/Communication.tsx
  src/pages/admin/Dashboard.tsx
  src/pages/admin/EventManagement.tsx
  src/pages/admin/FlowManagement.tsx
  src/pages/admin/PassManagement.tsx
  src/pages/admin/Reports.tsx
  src/pages/admin/ReservationManagement.tsx
  src/pages/admin/Settings.tsx
  src/pages/admin/TimeSlotManagement.tsx
  src/pages/admin/UserManagement.tsx
  src/pages/provider/ArcheryValidation.tsx
  src/pages/provider/LugeValidation.tsx
  src/pages/provider/PonyValidation.tsx
  src/pages/provider/ProviderLayout.tsx
  src/pages/provider/Stats.tsx
  src/test/setup.ts
  src/test/utils.tsx
Owners: @billeterie-maido/frontend

fix: resolve admin type errors
  src/pages/admin/Dashboard.tsx
  src/pages/admin/FlowManagement.tsx
  src/pages/admin/Reports.tsx
  src/pages/admin/TimeSlotManagement.tsx
  src/pages/admin/__tests__/EventManagement.test.tsx
Owners: @billeterie-maido/frontend

test: fix stubEnv boolean values
  src/pages/admin/__tests__/EventManagement.test.tsx
Owners: @billeterie-maido/frontend

fix(functions): handle cors for checkout session
  supabase/functions/create-checkout-session/index.test.ts
  supabase/functions/create-checkout-session/index.ts
Owners: @billeterie-maido/backend

Update ci.yml
  .github/workflows/ci.yml
Owners: @billeterie-maido/devops

doc: test migratio
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update db-migrations.yml
  .github/workflows/db-migrations.yml
Owners: @billeterie-maido/devops

Update db-migrations.yml
  .github/workflows/db-migrations.yml
Owners: @billeterie-maido/devops

Update db-migrations.yml
  .github/workflows/db-migrations.yml
Owners: @billeterie-maido/devops

Update db-migrations.yml
  .github/workflows/db-migrations.yml
Owners: @billeterie-maido/devops

Update db-migrations.yml
  .github/workflows/db-migrations.yml
Owners: @billeterie-maido/devops

Update db-migrations.yml
  .github/workflows/db-migrations.yml
Owners: @billeterie-maido/devops

Update db-migrations.yml
  .github/workflows/db-migrations.yml
Owners: @billeterie-maido/devops

Create edge-functions.yml
  .github/workflows/edge-functions.yml
Owners: @billeterie-maido/devops

Update edge-functions.yml
  .github/workflows/edge-functions.yml
Owners: @billeterie-maido/devops

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Create BACKLOG.md
  BACKLOG.md
Owners: @billeterie-maido/maintainers

Create CHANGELOG.md
  CHANGELOG.md
Owners: @billeterie-maido/maintainers

Update README.md
  README.md
Owners: @billeterie-maido/maintainers

Create QA_CHECKLIST.md
  QA_CHECKLIST.md
Owners: @billeterie-maido/maintainers

Create PO_NOTES.md
  PO_NOTES.md
Owners: @billeterie-maido/maintainers

Create po-notes.cjs
  tools/po-notes.cjs
Owners: @billeterie-maido/maintainers

chore: enforce PO_NOTES update in pre-commit
  .husky/pre-commit
  tools/po-notes.cjs
Owners: @billeterie-maido/maintainers

feat(serverless): add idempotent Stripe webhook
  BACKLOG.md
  PO_NOTES.md
  supabase/functions/stripe-webhook/index.test.ts
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/20250902003000_stripe_sessions.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update BACKLOG.md
  BACKLOG.md
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Create PREFLIGHT.md
  Docs/templates/PREFLIGHT.md
Owners: @billeterie-maido/maintainers

Create QUALITY-GATES.md
  QUALITY-GATES.md
Owners: @billeterie-maido/maintainers

Create pre-commit.ps1
  .githooks/pre-commit.ps1
Owners: @billeterie-maido/maintainers

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops
