Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops

Revert "Sprint S10: allow ticket revalidation after revocation"
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  src/pages/provider/ValidationHistory.tsx
  supabase/migrations/20250908001500_old_resonance.sql
  supabase/migrations/20250908004500_active_validation_unique.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

fix: ensure revoke policy migration is compatible with Postgres
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  src/pages/provider/ValidationHistory.tsx
  supabase/migrations/20250908001500_old_resonance.sql
  supabase/migrations/20250908003458_emerald_boat.sql
  supabase/migrations/20250908004500_active_validation_unique.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

fix: handle env for create-checkout-session CORS
  docs/sprints/S10/INTERACTIONS.yaml
  supabase/functions/create-checkout-session/index.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

fix: auth and logging for reservation email
  docs/sprints/S10/INTERACTIONS.yaml
  supabase/functions/request-reservation-email/index.test.ts
  supabase/functions/request-reservation-email/index.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

fix: harden function search_path and auth settings
  schema.sql
  supabase/config.toml
  supabase/migrations/20250902001000_update_reserve_pass_with_stock_check.sql
  supabase/migrations/20250905162000_sync_functions.sql
  supabase/sql/get_passes_with_activities.sql
  supabase/sql/update_get_parc_activities_with_variants.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Revert "Sprint S: harden SQL search_path and auth security"
  schema.sql
  supabase/config.toml
  supabase/migrations/20250902001000_update_reserve_pass_with_stock_check.sql
  supabase/migrations/20250905162000_sync_functions.sql
  supabase/sql/get_passes_with_activities.sql
  supabase/sql/update_get_parc_activities_with_variants.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

fix: remove unsupported auth config keys
  docs/sprints/S1/INTERACTIONS.yaml
  docs/sprints/S10/INTERACTIONS.yaml
  docs/sprints/S2/INTERACTIONS.yaml
  docs/sprints/S3/INTERACTIONS.yaml
  docs/sprints/S4/INTERACTIONS.yaml
  docs/templates/INTERACTIONS.md
  schema.sql
  supabase/config.toml
  supabase/migrations/20250902001000_update_reserve_pass_with_stock_check.sql
  supabase/migrations/20250905162000_sync_functions.sql
  supabase/sql/get_passes_with_activities.sql
  supabase/sql/update_get_parc_activities_with_variants.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Fix Supabase security warnings and validation issue
  src/lib/validation.ts
  supabase/migrations/20250908090656_divine_breeze.sql
Owners: @billeterie-maido/frontend, @billeterie-maido/backend

feat(validation): restaurer l'UI Tailwind et piloter l’activité via prop
  README.md
  deno.lock
  package-lock.json
  package.json
  src/components/validation/ReservationValidationForm.tsx
  src/lib/__tests__/validation.test.ts
  src/lib/activities.ts
  src/lib/logger.ts
  src/lib/slug.ts
  src/lib/validation.ts
  supabase/functions/create-checkout-session/index.ts
  supabase/functions/deno.json
  supabase/functions/deno.lock
  supabase/functions/request-reservation-email/index.ts
  supabase/functions/send-reservation-email/index.ts
  supabase/functions/stripe-webhook/index.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

add: dump file
  dump-20250908-1640.sql
Owners: @billeterie-maido/maintainers

fix: link reservations and time slots
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/admin/TimeSlotsManager.tsx
  src/lib/__tests__/cart.test.ts
  src/lib/cart.ts
  supabase/migrations/20250909010000_backfill_pass_and_event_activity.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Revert "Sprint S10: correct pass reservation linkage"
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/admin/TimeSlotsManager.tsx
  src/lib/__tests__/cart.test.ts
  src/lib/cart.ts
  supabase/migrations/20250909010000_backfill_pass_and_event_activity.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

fix: retain parameter name in search path migration
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/admin/TimeSlotsManager.tsx
  src/lib/__tests__/cart.test.ts
  src/lib/cart.ts
  supabase/migrations/20250908090656_divine_breeze.sql
  supabase/migrations/20250909010000_backfill_pass_and_event_activity.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Revert "Sprint S10: correct pass reservation linkage"
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/admin/TimeSlotsManager.tsx
  src/lib/__tests__/cart.test.ts
  src/lib/cart.ts
  supabase/migrations/20250908090656_divine_breeze.sql
  supabase/migrations/20250909010000_backfill_pass_and_event_activity.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

fix: restore quantity param for can_reserve_pass
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/admin/TimeSlotsManager.tsx
  src/lib/__tests__/cart.test.ts
  src/lib/cart.ts
  src/lib/supabase.ts
  supabase/migrations/20250908090656_divine_breeze.sql
  supabase/migrations/20250909010000_backfill_pass_and_event_activity.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

fix: backfill reservation time slot
  docs/sprints/S10/INTERACTIONS.yaml
  docs/sprints/S10/PREFLIGHT.md
  supabase/migrations/20250909120000_backfill_reservation_time_slot.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

chore: clean null reservation data
  docs/sprints/S10/INTERACTIONS.yaml
  supabase/migrations/20250909133000_cleanup_null_reservations.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

docs(env): ajouter instructions PowerShell pour charger .env.local et exécuter supabase db dump
  schema.sql
Owners: @billeterie-maido/maintainers

feat: add reservation_activities migration
  schema.sql
  supabase/functions/stripe-webhook/index.test.ts
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/20250909140000_reservation_activities.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Revert "Sprint 10: track reservation activities"
  schema.sql
  supabase/functions/stripe-webhook/index.test.ts
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/20250909140000_reservation_activities.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

fix: remove incompatible deno lockfile
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  supabase/functions/deno.lock
  supabase/functions/stripe-webhook/index.test.ts
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/20250909140000_reservation_activities.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend
