Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops

fix: correct pass relation in reservation validation
  src/lib/validation.ts
Owners: @billeterie-maido/frontend

Fix time_slots column names in validation query
  src/lib/validation.ts
Owners: @billeterie-maido/frontend

feat: return previous validation info
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/validation/ReservationValidationForm.tsx
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  tests/e2e/happy-path.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

Implémenter les détails de validation pour billets déjà validés
  src/components/validation/ReservationValidationForm.tsx
  src/lib/validation.ts
Owners: @billeterie-maido/frontend

Corriger l'affichage des détails de validation
  src/components/validation/ReservationValidationForm.tsx
  src/lib/validation.ts
Owners: @billeterie-maido/frontend

feat: expose reserved activity mismatch
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/validation/ReservationValidationForm.tsx
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

feat: normalize reservation validation payload
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/validation/ReservationValidationForm.tsx
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  tests/e2e/happy-path.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

docs: clarify sprint instructions
  AGENTS.md
Owners: @billeterie-maido/maintainers

docs: streamline sprint process guidance
  docs/process/SPRINT_PROCESS.md
Owners: @billeterie-maido/maintainers

docs: clarify sprint 10 overrides
  docs/sprint-overrides/S10_OVERRIDES.md
Owners: @billeterie-maido/maintainers

docs: checklistify sprint guide
  docs/sprint-overrides/S10_GUIDE_MVP.md
Owners: @billeterie-maido/maintainers

docs: clarify PO notes processes
  PO_NOTES.md
Owners: @billeterie-maido/maintainers

docs: note optional QA checklist items
  QA_CHECKLIST.md
Owners: @billeterie-maido/maintainers

docs: clarify backlog statuses
  BACKLOG.md
Owners: @billeterie-maido/maintainers

feat: return activity mismatch meta
  docs/sprints/S10/INTERACTIONS.yaml
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

fix: show reservation details when ticket already validated
  src/components/validation/ReservationValidationForm.tsx
  src/components/validation/__tests__/ReservationValidationForm.test.tsx
Owners: @billeterie-maido/frontend

feat: add validation history utilities and indexes
  schema.sql
  src/lib/__tests__/history.test.ts
  src/lib/history.ts
  supabase/migrations/20250907000000_add_validation_indexes.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Revert "Sprint S: validation history utilities"
  schema.sql
  src/lib/__tests__/history.test.ts
  src/lib/history.ts
  supabase/migrations/20250907000000_add_validation_indexes.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

feat: add validation history ui and revocation
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  src/App.tsx
  src/lib/__tests__/history.test.ts
  src/lib/history.ts
  src/pages/provider/ProviderLayout.tsx
  src/pages/provider/ValidationHistory.tsx
  src/pages/provider/__tests__/ValidationHistory.test.tsx
  supabase/migrations/20250907000000_add_validation_indexes.sql
  supabase/migrations/20250908090000_add_validation_revocation.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Revert "Sprint S: validation history utilities"
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  src/App.tsx
  src/lib/__tests__/history.test.ts
  src/lib/history.ts
  src/pages/provider/ProviderLayout.tsx
  src/pages/provider/ValidationHistory.tsx
  src/pages/provider/__tests__/ValidationHistory.test.tsx
  supabase/migrations/20250907000000_add_validation_indexes.sql
  supabase/migrations/20250908090000_add_validation_revocation.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

fix: prevent user auto-creation on role fetch error
  docs/sprints/S10/INTERACTIONS.yaml
  src/lib/__tests__/auth.test.ts
  src/lib/auth.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

fix: handle missing user role lookup errors
  docs/sprints/S10/INTERACTIONS.yaml
  src/lib/__tests__/auth.test.ts
  src/lib/auth.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

fix: use SECURITY INVOKER for luge validation view
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  supabase/migrations/20250905070420_luge_validations_today.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

feat: enable RLS on webhook_events
  schema.sql
  supabase/migrations/20250906001000_enable_rls_webhook_events.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

fix: run luge_validations_today view as security invoker
  CHANGELOG.md
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  supabase/migrations/20250907120000_luge_validations_today_security_invoker.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

[fix] add RLS policy for stripe_sessions
  schema.sql
  supabase/migrations/20250907130000_stripe_sessions_policy.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

fix: handle missing user role query
  src/lib/__tests__/auth.test.ts
  src/lib/auth.ts
  src/lib/validation.ts
Owners: @billeterie-maido/frontend

fix: check admin role via JWT to avoid recursion
  docs/sprints/S10/INTERACTIONS.yaml
  docs/sprints/S10/PREFLIGHT.md
  schema.sql
  supabase/migrations/20250829021500_fix_users_policies.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Fix infinite recursion in users table RLS policies
  supabase/migrations/20250908001500_old_resonance.sql
Owners: @billeterie-maido/backend

Fix RLS recursion by using app_metadata for user roles
  src/lib/auth.ts
Owners: @billeterie-maido/frontend

Fix admin role check using app_metadata
  src/lib/auth.ts
Owners: @billeterie-maido/frontend

Fix infinite recursion in users table RLS policies
  supabase/migrations/20250908003206_dawn_beacon.sql
Owners: @billeterie-maido/backend

Implémenter l'historique des validations avec toutes les fonctionnalités
  package.json
  src/App.tsx
  src/pages/provider/ProviderLayout.tsx
  src/pages/provider/ValidationHistory.tsx
  supabase/migrations/20250908003453_lingering_salad.sql
  supabase/migrations/20250908003458_emerald_boat.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Updated package-lock.json
  package-lock.json
Owners: @billeterie-maido/maintainers

Updated package.json
  package.json
Owners: @billeterie-maido/maintainers

Updated package-lock.json
  package-lock.json
Owners: @billeterie-maido/maintainers

Fix missing foreign key for revoked_by column
  supabase/migrations/20250908004116_lucky_salad.sql
Owners: @billeterie-maido/backend

chore: add migration for active validation uniqueness
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  src/pages/provider/ValidationHistory.tsx
  supabase/migrations/20250908004500_active_validation_unique.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Revert "Sprint S10: allow ticket revalidation after revocation"
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  src/pages/provider/ValidationHistory.tsx
  supabase/migrations/20250908004500_active_validation_unique.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

fix: create is_admin function in public schema
  docs/sprints/S10/INTERACTIONS.yaml
  schema.sql
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  src/pages/provider/ValidationHistory.tsx
  supabase/migrations/20250908001500_old_resonance.sql
  supabase/migrations/20250908004500_active_validation_unique.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend
