Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops

Reserve pass stock with SQL function
  src/lib/__tests__/cartRepository.test.ts
  src/lib/cartRepository.ts
  src/lib/supabase.ts
  supabase/migrations/20250901090000_reserve_pass_with_stock_check.sql
Owners: @billeterie-maido/frontend, @billeterie-maido/backend

feat: programme le nettoyage automatique des paniers expirés
  README.md
  supabase/migrations/20250901093000_schedule_cleanup_expired_cart_items.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

chore: add passes-with-activities RPC
  src/hooks/__tests__/useEventDetails.test.ts
  src/hooks/useEventDetails.ts
  src/lib/__tests__/eventDetails.test.ts
  src/lib/eventDetails.ts
  src/lib/supabase.ts
  src/lib/types.ts
  src/pages/__tests__/EventDetails.luge-gating.test.tsx
  src/pages/__tests__/EventDetails.test.tsx
  supabase/sql/get_passes_with_activities.sql
Owners: @billeterie-maido/frontend, @billeterie-maido/backend

fix: calcule le stock maximum des pass via useMemo
  src/__tests__/PassManagement.modal.test.tsx
  src/pages/admin/PassManagement.tsx
Owners: @billeterie-maido/frontend

feat: streamline pass activity selection
  src/pages/EventDetails.tsx
  src/pages/__tests__/EventDetails.test.tsx
Owners: @billeterie-maido/frontend

feat(cart): track activities per cart item
  src/lib/__tests__/cart.test.ts
  src/lib/__tests__/cartRepository.test.ts
  src/lib/cart.ts
  src/lib/cartRepository.ts
  src/lib/supabase.ts
  src/pages/Cart.tsx
  src/pages/EventDetails.tsx
  src/pages/__tests__/EventDetails.test.tsx
  supabase/migrations/20250902000000_cart_item_activities.sql
  supabase/migrations/20250902001000_update_reserve_pass_with_stock_check.sql
Owners: @billeterie-maido/frontend, @billeterie-maido/backend

feat: generate QR codes per reservation
  README.md
  package-lock.json
  package.json
  src/components/ConfirmationModal.tsx
  src/components/__tests__/ConfirmationModal.test.tsx
  src/pages/Cart.tsx
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

chore: document setup workflow and integrate prettier
  .prettierrc
  AGENTS.md
  README.md
  eslint.config.js
  maintenance.sh
  package-lock.json
  package.json
  setup.sh
Owners: @billeterie-maido/maintainers

Update setup.sh
  setup.sh
Owners: @billeterie-maido/maintainers

Update setup.sh
  setup.sh
Owners: @billeterie-maido/maintainers

Update setup.sh
  setup.sh
Owners: @billeterie-maido/maintainers

Update setup.sh
  setup.sh
Owners: @billeterie-maido/maintainers

Update setup.sh
  setup.sh
Owners: @billeterie-maido/maintainers

Create db-migrations.yml
  .github/workflows/db-migrations.yml
Owners: @billeterie-maido/devops

feat: add qrcode
  package-lock.json
  package.json
Owners: @billeterie-maido/maintainers

chore: add robots noindex meta tag
  index.html
Owners: @billeterie-maido/maintainers

feat(payment): add stripe edge functions
  README.md
  src/pages/Cart.tsx
  src/pages/__tests__/Cart.test.tsx
  supabase/functions/create-checkout-session/index.test.ts
  supabase/functions/create-checkout-session/index.ts
  supabase/functions/stripe-webhook/index.test.ts
  supabase/functions/stripe-webhook/index.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

feat: send reservation email via Resend
  supabase/functions/send-reservation-email/index.test.ts
  supabase/functions/send-reservation-email/index.ts
Owners: @billeterie-maido/backend

chore: update package metadata
  package-lock.json
  package.json
Owners: @billeterie-maido/maintainers

chore(db): add schema.sql
  schema.sql
Owners: @billeterie-maido/maintainers

docs: document schema dump
  README.md
Owners: @billeterie-maido/maintainers

Update ci.yml
  .github/workflows/ci.yml
Owners: @billeterie-maido/devops

Create .semgrepignore
  .semgrepignore
Owners: @billeterie-maido/maintainers

chore: update semgrep ignores
  .semgrepignore
Owners: @billeterie-maido/maintainers

ci: guard SARIF upload when file is absent
  .github/workflows/ci.yml
Owners: @billeterie-maido/devops

chore(ci): reduce workflow noise
  .github/workflows/ci.yml
Owners: @billeterie-maido/devops

test: wrap state updates in act or waitFor
  src/__tests__/PassManagement.modal.test.tsx
  src/components/__tests__/ConfirmationModal.test.tsx
  src/components/__tests__/Layout.test.tsx
  src/components/admin/__tests__/MarkdownEditor.test.tsx
  src/pages/admin/__tests__/Settings.test.tsx
Owners: @billeterie-maido/frontend

ci: unset unsupported npm http proxy
  .github/workflows/ci.yml
Owners: @billeterie-maido/devops

chore: enforce zero lint warnings
  eslint.config.js
  package.json
Owners: @billeterie-maido/maintainers

ci: add scheduled dependency audit
  .github/workflows/ci.yml
Owners: @billeterie-maido/devops

chore: reduce CI and test warnings
  .github/workflows/ci.yml
  src/components/__tests__/ConfirmationModal.test.tsx
  src/hooks/__tests__/useEvent.test.ts
  src/lib/consoleFilters.ts
  src/pages/admin/__tests__/Settings.test.tsx
Owners: @billeterie-maido/devops, @billeterie-maido/frontend

test: ensure act imports and await state updates
  src/__tests__/PassManagement.modal.test.tsx
  src/components/__tests__/Layout.test.tsx
  src/components/admin/__tests__/MarkdownEditor.test.tsx
  src/pages/__tests__/EventDetails.test.tsx
  src/pages/__tests__/EventFAQ.test.tsx
Owners: @billeterie-maido/frontend

Create local-audit.ps1
  scripts/local-audit.ps1
Owners: @billeterie-maido/maintainers

fix: resolve type errors in tests and libs
  package-lock.json
  package.json
  src/__tests__/App.test.tsx
  src/components/__tests__/AdminLogin.test.tsx
  src/components/__tests__/CheckoutForm.test.tsx
  src/components/__tests__/ConfirmationModal.test.tsx
  src/components/__tests__/MarkdownRenderer.test.tsx
  src/components/admin/EventActivitiesManager.tsx
  src/components/validation/__tests__/ReservationValidationForm.test.tsx
  src/lib/eventDetails.ts
  src/lib/requestReservationEmail.ts
  src/lib/types.ts
  src/pages/__tests__/EventCGV.test.tsx
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

fix: handle event activity array in time slots
  src/lib/__tests__/eventDetails.test.ts
  src/lib/eventDetails.ts
Owners: @billeterie-maido/frontend

test: stub env with booleans
  src/pages/admin/__tests__/EventManagement.test.tsx
Owners: @billeterie-maido/frontend

test(settings): mock getCurrentUser with admin id
  src/pages/admin/__tests__/Settings.test.tsx
Owners: @billeterie-maido/frontend

test: set toast spy return values in Settings
  src/pages/admin/__tests__/Settings.test.tsx
Owners: @billeterie-maido/frontend

fix: improve revenue query
  src/pages/admin/Dashboard.tsx
Owners: @billeterie-maido/frontend

fix: pick first event activity for time slots
  src/pages/admin/FlowManagement.tsx
Owners: @billeterie-maido/frontend
