Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update README.md
  README.md
Owners: @billeterie-maido/maintainers

Update PO_NOTES.md
  PO_NOTES.md
Owners: @billeterie-maido/maintainers

Update PO_NOTES.md
  PO_NOTES.md
Owners: @billeterie-maido/maintainers

Update PO_NOTES.md
  PO_NOTES.md
Owners: @billeterie-maido/maintainers

Update pre-commit
  .husky/pre-commit
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update README.md
  README.md
Owners: @billeterie-maido/maintainers

Update pre-commit
  .husky/pre-commit
Owners: @billeterie-maido/maintainers

Update QUALITY-GATES.md
  QUALITY-GATES.md
Owners: @billeterie-maido/maintainers

Update QA_CHECKLIST.md
  QA_CHECKLIST.md
Owners: @billeterie-maido/maintainers

Update PO_NOTES.md
  PO_NOTES.md
Owners: @billeterie-maido/maintainers

Update BACKLOG.md
  BACKLOG.md
Owners: @billeterie-maido/maintainers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @billeterie-maido/maintainers

Create PLAN.md
  Docs/templates/PLAN.md
Owners: @billeterie-maido/maintainers

Create BOARD.md
  Docs/templates/BOARD.md
Owners: @billeterie-maido/maintainers

Create DEMO.md
  Docs/templates/DEMO.md
Owners: @billeterie-maido/maintainers

Create REVIEW.md
  Docs/templates/REVIEW.md
Owners: @billeterie-maido/maintainers

Create RETRO.md
  Docs/templates/RETRO.md
Owners: @billeterie-maido/maintainers

Update PREFLIGHT.md
  Docs/templates/PREFLIGHT.md
Owners: @billeterie-maido/maintainers

Create INTERACTIONS.yaml
  Docs/templates/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

rename Docs -> tempdir
  tempdir/templates/BOARD.md
  tempdir/templates/DEMO.md
  tempdir/templates/INTERACTIONS.yaml
  tempdir/templates/PLAN.md
  tempdir/templates/PREFLIGHT.md
  tempdir/templates/RETRO.md
  tempdir/templates/REVIEW.md
Owners: @billeterie-maido/maintainers

rename tempdir -> docs
  docs/templates/BOARD.md
  docs/templates/DEMO.md
  docs/templates/INTERACTIONS.yaml
  docs/templates/PLAN.md
  docs/templates/PREFLIGHT.md
  docs/templates/RETRO.md
  docs/templates/REVIEW.md
Owners: @billeterie-maido/maintainers

chore: initialize sprint S1
  BACKLOG.md
  PO_NOTES.md
  docs/sprints/S1/BOARD.md
  docs/sprints/S1/DEMO.md
  docs/sprints/S1/INTERACTIONS.yaml
  docs/sprints/S1/PLAN.md
  docs/sprints/S1/PREFLIGHT.md
  docs/sprints/S1/RETRO.md
  docs/sprints/S1/REVIEW.md
Owners: @billeterie-maido/maintainers

chore: record sprint history
  BACKLOG.md
  CHANGELOG.md
  PO_NOTES.md
  SPRINT_HISTORY.md
  docs/sprints/S1/BOARD.md
  docs/sprints/S1/DEMO.md
  docs/sprints/S1/INTERACTIONS.yaml
  docs/sprints/S1/PLAN.md
  docs/sprints/S1/PREFLIGHT.md
  docs/sprints/S1/RETRO.md
  docs/sprints/S1/REVIEW.md
  src/pages/EventDetails.tsx
  src/pages/__tests__/Cart.test.tsx
  src/pages/__tests__/EventDetails.test.tsx
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

Update INTERACTIONS.yaml
  docs/sprints/S1/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

docs: align sprint instructions
  AGENTS.md
  BACKLOG.md
  QA_CHECKLIST.md
  QUALITY-GATES.md
  README.md
  docs/sprints/S1/BOARD.md
  docs/sprints/S1/INTERACTIONS.yaml
  docs/templates/BOARD.md
Owners: @billeterie-maido/maintainers

delete when for PO in interactions exemple
  PO_NOTES.md
Owners: @billeterie-maido/maintainers

docs: align workflow with PO validation
  AGENTS.md
  BACKLOG.md
  PO_NOTES.md
  SPRINT_HISTORY.md
  docs/sprints/S1/INTERACTIONS.yaml
  docs/sprints/S1/REVIEW.md
Owners: @billeterie-maido/maintainers

fix: add passes with activities function and logger
  BACKLOG.md
  PO_NOTES.md
  SPRINT_HISTORY.md
  docs/sprints/S2/BOARD.md
  docs/sprints/S2/DEMO.md
  docs/sprints/S2/INTERACTIONS.yaml
  docs/sprints/S2/PLAN.md
  docs/sprints/S2/PREFLIGHT.md
  docs/sprints/S2/RETRO.md
  docs/sprints/S2/REVIEW.md
  schema.sql
  src/lib/eventDetails.ts
  src/lib/logger.ts
  supabase/migrations/20250905003500_get_passes_with_activities.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Update INTERACTIONS.yaml
  docs/sprints/S2/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

fix: add guaranteed_runs column
  BACKLOG.md
  CHANGELOG.md
  PO_NOTES.md
  SPRINT_HISTORY.md
  docs/sprints/S3/BOARD.md
  docs/sprints/S3/DEMO.md
  docs/sprints/S3/INTERACTIONS.yaml
  docs/sprints/S3/PLAN.md
  docs/sprints/S3/PREFLIGHT.md
  docs/sprints/S3/RETRO.md
  docs/sprints/S3/REVIEW.md
  schema.sql
  supabase/migrations/20250905003500_get_passes_with_activities.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Update INTERACTIONS.yaml
  docs/sprints/S3/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

chore: add definition of done
  AGENTS.md
  DoD.md
  README.md
  docs/sprints/S3/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

Update QA_CHECKLIST.md
  QA_CHECKLIST.md
Owners: @billeterie-maido/maintainers

chore(pre-commit): handle docs-only commits
  .husky/pre-commit
  AGENTS.md
Owners: @billeterie-maido/maintainers

chore: add sprint init script
  AGENTS.md
  README.md
  package.json
  scripts/sprint-init.js
Owners: @billeterie-maido/maintainers

docs: start sprint S4 and update backlog
  BACKLOG.md
  SPRINT_HISTORY.md
  docs/sprints/S4/BOARD.md
  docs/sprints/S4/DEMO.md
  docs/sprints/S4/INTERACTIONS.yaml
  docs/sprints/S4/PLAN.md
  docs/sprints/S4/PREFLIGHT.md
  docs/sprints/S4/RETRO.md
  docs/sprints/S4/REVIEW.md
Owners: @billeterie-maido/maintainers

Update INTERACTIONS.yaml
  docs/sprints/S4/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

docs: apply PO feedback for sprint 4
  AGENTS.md
  BACKLOG.md
  PO_NOTES.md
  docs/sprints/S4/BOARD.md
  docs/sprints/S4/INTERACTIONS.yaml
  docs/sprints/S4/PLAN.md
  docs/templates/BOARD.md
Owners: @billeterie-maido/maintainers
