Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops

Update 20250906000000_reservation_validation_unique.sql
  supabase/migrations/20250906000000_reservation_validation_unique.sql
Owners: @billeterie-maido/backend

fix: respect request origin for Stripe URLs
  docs/sprints/S10/INTERACTIONS.yaml
  supabase/functions/create-checkout-session/index.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Update index.ts
  supabase/functions/send-reservation-email/index.ts
Owners: @billeterie-maido/backend

Update index.ts
  supabase/functions/stripe-webhook/index.ts
Owners: @billeterie-maido/backend

Update index.ts
  supabase/functions/stripe-webhook/index.ts
Owners: @billeterie-maido/backend

Update index.ts
  supabase/functions/stripe-webhook/index.ts
Owners: @billeterie-maido/backend

Update index.ts
  supabase/functions/send-reservation-email/index.ts
Owners: @billeterie-maido/backend

Create config.toml
  supabase/config.toml
Owners: @billeterie-maido/backend

fix: enable mobile qr scanning and reservation lookup
  src/components/validation/ReservationValidationForm.tsx
  src/components/validation/__tests__/ReservationValidationForm.test.tsx
  src/lib/validation.ts
Owners: @billeterie-maido/frontend

fix: ensure camera preview visible during scan
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/validation/ReservationValidationForm.tsx
  supabase/functions/send-reservation-email/index.test.ts
  supabase/functions/stripe-webhook/index.test.ts
  supabase/functions/stripe-webhook/index.ts
  tests/e2e/happy-path.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Corriger les problèmes mobile de l'espace prestataire
  src/components/validation/ReservationValidationForm.tsx
  src/pages/provider/ArcheryValidation.tsx
  src/pages/provider/LugeCounter.tsx
  src/pages/provider/LugeValidation.tsx
  src/pages/provider/PonyValidation.tsx
  src/pages/provider/ProviderLayout.tsx
  src/pages/provider/Stats.tsx
Owners: @billeterie-maido/frontend

Corriger les problèmes de caméra mobile et desktop
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Fix useEffect import error
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated package.json
  package.json
Owners: @billeterie-maido/maintainers

Updated package-lock.json
  package-lock.json
Owners: @billeterie-maido/maintainers

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

Updated ReservationValidationForm.tsx
  src/components/validation/ReservationValidationForm.tsx
Owners: @billeterie-maido/frontend

test: cover reservation validation
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/validation/ReservationValidationForm.tsx
  src/components/validation/__tests__/ReservationValidationForm.test.tsx
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  src/pages/provider/__tests__/LugeCounter.test.tsx
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

Update INTERACTIONS.yaml
  docs/sprints/S10/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

fix: use reservation number for QR codes
  docs/sprints/S10/INTERACTIONS.yaml
  supabase/functions/send-reservation-email/index.test.ts
  supabase/functions/send-reservation-email/index.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Update INTERACTIONS.yaml
  docs/sprints/S10/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

fix: embed QR image as email attachment
  docs/sprints/S10/INTERACTIONS.yaml
  supabase/functions/send-reservation-email/index.test.ts
  supabase/functions/send-reservation-email/index.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

fix: accept hyphenated reservation codes
  docs/sprints/S10/INTERACTIONS.yaml
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  tests/e2e/happy-path.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

Update INTERACTIONS.yaml
  docs/sprints/S10/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

fix: show reservation details after validation
  CHANGELOG.md
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/validation/ReservationValidationForm.tsx
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  tests/e2e/happy-path.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

feat: show validator info on revalidation
  CHANGELOG.md
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/validation/ReservationValidationForm.tsx
  src/lib/__tests__/validation.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

fix: show agent email on double validation
  CHANGELOG.md
  docs/sprints/S10/INTERACTIONS.yaml
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  tests/e2e/happy-path.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

fix: ensure reservation matches activity
  docs/sprints/S10/INTERACTIONS.yaml
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

Update validation.ts
  src/lib/validation.ts
Owners: @billeterie-maido/frontend

Update validation.ts
  src/lib/validation.ts
Owners: @billeterie-maido/frontend

feat: include reservation details in validation
  docs/sprints/S10/INTERACTIONS.yaml
  src/components/validation/ReservationValidationForm.tsx
  src/lib/__tests__/validation.test.ts
  src/lib/validation.ts
  tests/e2e/happy-path.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend
