Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops

test: add settings page tests
  src/pages/admin/__tests__/Settings.test.tsx
Owners: @billeterie-maido/frontend

test: cover auth scenarios
  src/lib/__tests__/auth.test.ts
Owners: @billeterie-maido/frontend

test(cart): cover removal and clearing flows
  src/lib/__tests__/cart-removal.test.ts
Owners: @billeterie-maido/frontend

Updated EventManagement.tsx
  src/pages/admin/EventManagement.tsx
Owners: @billeterie-maido/frontend

Added schema.sql
  schema.sql
Owners: @billeterie-maido/maintainers

test: fix UserManagement test, make update chainable, and run vitest in CI mode
  package.json
  src/components/Layout.tsx
  src/lib/__tests__/cartRepository.test.ts
  src/pages/admin/__tests__/UserManagement.test.tsx
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

test: check dashboard renders without warnings
  src/pages/admin/__tests__/Dashboard.test.tsx
Owners: @billeterie-maido/frontend

Link end date label to input in reports page
  src/pages/admin/Reports.tsx
Owners: @billeterie-maido/frontend

test: wrap admin tests in act and waitFor
  src/pages/admin/__tests__/Communication.test.tsx
  src/pages/admin/__tests__/EventManagement.test.tsx
Owners: @billeterie-maido/frontend

test: enable React Router v7 flags
  src/App.tsx
  src/test/utils.tsx
Owners: @billeterie-maido/frontend

Remove unused EventCard component and tests
  rapport-tests.xml
  rapport-tests2.xml
  src/components/EventCard.tsx
  src/components/__tests__/EventCard.test.tsx
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

chore: remove CartDrawer component
  src/components/CartDrawer.tsx
Owners: @billeterie-maido/frontend

refactor: remove unused TicketCard component
  src/components/TicketCard.tsx
Owners: @billeterie-maido/frontend

Supprime le sélecteur de créneaux inutilisé
  src/components/TimeSlotPicker.tsx
  src/hooks/__tests__/useEvent.test.ts
  src/hooks/useEvent.ts
  src/services/__tests__/eventService.test.ts
  src/services/eventService.ts
Owners: @billeterie-maido/frontend

chore: remove reservation email sender
  src/lib/__tests__/requestReservationEmail.test.ts
  src/lib/__tests__/sendReservationEmail.test.ts
  src/lib/sendReservationEmail.ts
Owners: @billeterie-maido/frontend

Charge et filtre les utilisateurs
  src/pages/admin/UserManagement.tsx
  src/pages/admin/__tests__/UserManagement.test.tsx
Owners: @billeterie-maido/frontend

feat: add bulk user actions
  src/pages/admin/UserManagement.tsx
  src/pages/admin/__tests__/UserManagement.test.tsx
Owners: @billeterie-maido/frontend

test: cover user management loading and bulk actions
  src/pages/admin/__tests__/UserManagement.test.tsx
Owners: @billeterie-maido/frontend

docs: document user management
  README.md
Owners: @billeterie-maido/maintainers

chore: remove apiClient
  src/lib/__tests__/apiClient.test.ts
  src/lib/apiClient.ts
Owners: @billeterie-maido/frontend

Remove tmpfile
  .tmpfile
Owners: @billeterie-maido/maintainers

chore: remove apiClient and tests
  src/lib/__tests__/apiClient.test.ts
  src/lib/apiClient.ts
Owners: @billeterie-maido/frontend

Remove pony_resources references
  src/pages/admin/Settings.tsx
  supabase/migrations/20250823063840_rapid_breeze.sql
  supabase/migrations/20250823083556_jade_snow.sql
  supabase/migrations/20250823084826_patient_oasis.sql
  supabase/migrations/20250823234539_empty_hall.sql
Owners: @billeterie-maido/frontend, @billeterie-maido/backend

Remove deprecated park_offer references
  src/lib/cart.ts
  supabase/migrations/20250828001000_cart_items_product.sql
Owners: @billeterie-maido/frontend, @billeterie-maido/backend

Remove redundant React Router type dependency
  package-lock.json
  package.json
Owners: @billeterie-maido/maintainers

chore: upgrade vitest tooling to drop inflight and glob@7
  package-lock.json
  package.json
Owners: @billeterie-maido/maintainers

fix: wrap loaders with useCallback and fix hook deps
  src/components/admin/AnimationsManager.tsx
  src/components/admin/EventActivitiesManager.tsx
  src/components/admin/TimeSlotsManager.tsx
  src/pages/EventCGV.tsx
  src/pages/admin/Communication.tsx
  src/pages/admin/FlowManagement.tsx
  src/pages/admin/Reports.tsx
  src/pages/admin/TimeSlotManagement.tsx
  src/test/utils.tsx
Owners: @billeterie-maido/frontend

refactor: specify loadData return type
  src/components/admin/EventActivitiesManager.tsx
Owners: @billeterie-maido/frontend

refactor: memoize activity loader
  src/pages/admin/ActivityManagement.tsx
Owners: @billeterie-maido/frontend

refactor: memoize activity variant loaders
  src/pages/admin/ActivityVariantsManagement.tsx
Owners: @billeterie-maido/frontend

refactor: memoize flow loader callbacks
  src/pages/admin/FlowManagement.tsx
Owners: @billeterie-maido/frontend

refactor: memoize event and recipient loaders
  src/pages/admin/Communication.tsx
Owners: @billeterie-maido/frontend

fix: include date range in report effect dependencies
  src/pages/admin/Reports.tsx
Owners: @billeterie-maido/frontend

refactor: memoize pass data loading
  src/pages/admin/PassManagement.tsx
Owners: @billeterie-maido/frontend

test: silence React Router warnings
  src/test/setup.ts
Owners: @billeterie-maido/frontend

Remove future flags from MemoryRouter in tests
  src/test/utils.tsx
Owners: @billeterie-maido/frontend

feat: verify Supabase env variables
  supabase/functions/request-reservation-email/index.ts
Owners: @billeterie-maido/backend

fix: journalise et propage les erreurs de demande d'email
  src/lib/__tests__/requestReservationEmail.test.ts
  src/lib/requestReservationEmail.ts
  src/pages/FindTicket.tsx
Owners: @billeterie-maido/frontend

test: add request-reservation-email edge function tests
  supabase/functions/request-reservation-email/index.test.ts
Owners: @billeterie-maido/backend

chore: add setup script and drop service role key usage
  README.md
  setup.sh
  supabase/functions/request-reservation-email/index.test.ts
  supabase/functions/request-reservation-email/index.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend
