Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

Update INTERACTIONS.yaml
  docs/sprints/S4/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

feat: add luge counter view and page
  BACKLOG.md
  PO_NOTES.md
  SPRINT_HISTORY.md
  docs/sprints/S3/INTERACTIONS.yaml
  docs/sprints/S4/BOARD.md
  docs/sprints/S4/DEMO.md
  docs/sprints/S4/INTERACTIONS.yaml
  docs/sprints/S4/PLAN.md
  docs/sprints/S4/PREFLIGHT.md
  docs/sprints/S4/RETRO.md
  docs/sprints/S4/REVIEW.md
  schema.sql
  src/App.tsx
  src/pages/provider/LugeCounter.tsx
  src/pages/provider/ProviderLayout.tsx
  src/pages/provider/__tests__/LugeCounter.test.tsx
  supabase/migrations/20250905070420_luge_validations_today.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

Update INTERACTIONS.yaml
  docs/sprints/S4/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

chore: init sprint S5 and update process
  AGENTS.md
  BACKLOG.md
  CHANGELOG.md
  docs/sprints/S5/BOARD.md
  docs/sprints/S5/DEMO.md
  docs/sprints/S5/INTERACTIONS.yaml
  docs/sprints/S5/PLAN.md
  docs/sprints/S5/PREFLIGHT.md
  docs/sprints/S5/RETRO.md
  docs/sprints/S5/REVIEW.md
Owners: @billeterie-maido/maintainers

docs: update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Create SPRINT_PROCESS.md
  docs/process/SPRINT_PROCESS.md
Owners: @billeterie-maido/maintainers

Create BACKLOG_VALIDATION.md
  docs/process/BACKLOG_VALIDATION.md
Owners: @billeterie-maido/maintainers

docs: add SPRINT_HISTORY guidelines
  docs/SPRINT_HISTORY.md
Owners: @billeterie-maido/maintainers

scripts: add backlog validation script
  scripts/validate-backlog.js
Owners: @billeterie-maido/maintainers

chore: add backlog validation script
  package.json
Owners: @billeterie-maido/maintainers

chore: run backlog validation in pre-commit
  .husky/pre-commit
Owners: @billeterie-maido/maintainers

chore: include backlog validation in pre-commit quality gates
  .husky/pre-commit
Owners: @billeterie-maido/maintainers

Update package.json
  package.json
Owners: @billeterie-maido/maintainers

fix: add luge validation seed script and docs
  BACKLOG.md
  CHANGELOG.md
  PO_NOTES.md
  SPRINT_HISTORY.md
  docs/sprints/S5/BOARD.md
  docs/sprints/S5/DEMO.md
  docs/sprints/S5/INTERACTIONS.yaml
  docs/sprints/S5/PREFLIGHT.md
  docs/sprints/S5/RETRO.md
  docs/sprints/S5/REVIEW.md
  package.json
  scripts/validate-backlog.js
  supabase/sql/seed_luge_validations.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

Update INTERACTIONS.yaml
  docs/sprints/S5/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

chore: start sprint S6 and log PO feedback
  BACKLOG.md
  PO_NOTES.md
  SPRINT_HISTORY.md
  docs/sprints/S5/INTERACTIONS.yaml
  docs/sprints/S6/BOARD.md
  docs/sprints/S6/DEMO.md
  docs/sprints/S6/INTERACTIONS.yaml
  docs/sprints/S6/PLAN.md
  docs/sprints/S6/PREFLIGHT.md
  docs/sprints/S6/RETRO.md
  docs/sprints/S6/REVIEW.md
Owners: @billeterie-maido/maintainers

fix: rename migrations and convert luge seed to migration
  BACKLOG.md
  CHANGELOG.md
  QA_CHECKLIST.md
  SPRINT_HISTORY.md
  docs/sprints/S6/BOARD.md
  docs/sprints/S6/DEMO.md
  docs/sprints/S6/INTERACTIONS.yaml
  docs/sprints/S6/RETRO.md
  docs/sprints/S6/REVIEW.md
  package.json
  supabase/migrations/20250829023000_extend_get_parc_activities_with_variants.sql
  supabase/migrations/20250905071500_seed_luge_validations.sql
Owners: @billeterie-maido/maintainers, @billeterie-maido/backend

chore(db): fix migrations layout, add noop 20250905140035, align pgcrypto
  supabase/migrations/20250823063840_rapid_breeze.sql
  supabase/migrations/20250823083556_jade_snow.sql
  supabase/migrations/20250823084826_patient_oasis.sql
  supabase/migrations/20250823151859_royal_art.sql
  supabase/migrations/20250823152519_graceful_truth.sql
  supabase/migrations/20250823152729_pink_tree.sql
  supabase/migrations/20250823223933_rustic_leaf.sql
  supabase/migrations/20250823230438_teal_grass.sql
  supabase/migrations/20250823231919_shiny_tooth.sql
  supabase/migrations/20250823233159_black_crystal.sql
  supabase/migrations/20250823234539_empty_hall.sql
  supabase/migrations/20250824000223_restless_sea.sql
  supabase/migrations/20250824003854_copper_cell.sql
  supabase/migrations/20250824004159_fading_dream.sql
  supabase/migrations/20250825075745_yellow_lake.sql
  supabase/migrations/20250825090245_sunny_castle.sql
  supabase/migrations/20250825092358_turquoise_cliff.sql
  supabase/migrations/20250825095536_tight_band.sql
  supabase/migrations/20250826120000_event_faqs.sql
  supabase/migrations/20250826140000_combined_stock.sql
  supabase/migrations/20250828210000_roles_and_validations.sql
  supabase/migrations/20250829023000_extend_get_parc_activities_with_variants.sql
  supabase/migrations/20250902000000_cart_item_activities.sql
  supabase/migrations/20250905071500_seed_luge_validations.sql
  supabase/migrations/20250905140035_noop.sql
  supabase/migrations/20250905143641_remote_schema.sql
  supabase/migrations/20250905151000_align_pgcrypto.sql
  supabase/migrations/20250905152000_align_pgcrypto.sql
Owners: @billeterie-maido/backend

chore(db): move & fix sync_functions migration
  supabase/migrations/20250905162000_sync_functions.sql
Owners: @billeterie-maido/backend

chore: restore pre-commit executable
  .editorconfig
  .gitattributes
  .husky/pre-commit
Owners: @billeterie-maido/maintainers

feat: add utility helpers
  .husky/pre-commit
  BACKLOG.md
  CHANGELOG.md
  SPRINT_HISTORY.md
  docs/sprints/S7/BOARD.md
  docs/sprints/S7/DEMO.md
  docs/sprints/S7/INTERACTIONS.yaml
  docs/sprints/S7/PLAN.md
  docs/sprints/S7/PREFLIGHT.md
  docs/sprints/S7/RETRO.md
  docs/sprints/S7/REVIEW.md
  src/lib/__tests__/date.test.ts
  src/lib/__tests__/math.test.ts
  src/lib/__tests__/money.parse.test.ts
  src/lib/__tests__/string.test.ts
  src/lib/date.ts
  src/lib/math.ts
  src/lib/money.ts
  src/lib/string.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

Update INTERACTIONS.yaml
  docs/sprints/S7/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

chore: start Sprint S8 planning
  BACKLOG.md
  PO_NOTES.md
  docs/sprints/S8/BOARD.md
  docs/sprints/S8/DEMO.md
  docs/sprints/S8/INTERACTIONS.yaml
  docs/sprints/S8/PLAN.md
  docs/sprints/S8/PREFLIGHT.md
  docs/sprints/S8/RETRO.md
  docs/sprints/S8/REVIEW.md
Owners: @billeterie-maido/maintainers

fix: update demo average
  BACKLOG.md
  CHANGELOG.md
  SPRINT_HISTORY.md
  docs/sprints/S8/BOARD.md
  docs/sprints/S8/DEMO.md
  docs/sprints/S8/INTERACTIONS.yaml
  docs/sprints/S8/PREFLIGHT.md
  docs/sprints/S8/RETRO.md
  docs/sprints/S8/REVIEW.md
  src/__tests__/velocity.test.ts
  tools/velocity.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

Update INTERACTIONS.yaml
  docs/sprints/S8/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

chore: plan sprint S9
  BACKLOG.md
  PO_NOTES.md
  docs/sprints/S9/BOARD.md
  docs/sprints/S9/DEMO.md
  docs/sprints/S9/INTERACTIONS.yaml
  docs/sprints/S9/PLAN.md
  docs/sprints/S9/PREFLIGHT.md
  docs/sprints/S9/RETRO.md
  docs/sprints/S9/REVIEW.md
Owners: @billeterie-maido/maintainers

Update INTERACTIONS.yaml
  docs/sprints/S9/INTERACTIONS.yaml
Owners: @billeterie-maido/maintainers

chore: close sprint S9
  BACKLOG.md
  CHANGELOG.md
  SPRINT_HISTORY.md
  docs/sprints/S9/BOARD.md
  docs/sprints/S9/DEMO.md
  docs/sprints/S9/INTERACTIONS.yaml
  docs/sprints/S9/RETRO.md
  docs/sprints/S9/REVIEW.md
  src/__tests__/velocity.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

chore: start sprint 10
  BACKLOG.md
  SPRINT_HISTORY.md
  docs/sprints/S10/BOARD.md
  docs/sprints/S10/DEMO.md
  docs/sprints/S10/INTERACTIONS.yaml
  docs/sprints/S10/PLAN.md
  docs/sprints/S10/PREFLIGHT.md
  docs/sprints/S10/RETRO.md
  docs/sprints/S10/REVIEW.md
  src/__tests__/velocity.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

Create S10_OVERRIDES.md
  docs/sprint-overrides/S10_OVERRIDES.md
Owners: @billeterie-maido/maintainers

Update BACKLOG.md
  BACKLOG.md
Owners: @billeterie-maido/maintainers

Update S10_OVERRIDES.md
  docs/sprint-overrides/S10_OVERRIDES.md
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

Create S10_GUIDE_MVP.md
  docs/sprint-overrides/S10_GUIDE_MVP.md
Owners: @billeterie-maido/maintainers

Update S10_OVERRIDES.md
  docs/sprint-overrides/S10_OVERRIDES.md
Owners: @billeterie-maido/maintainers

Update AGENTS.md
  AGENTS.md
Owners: @billeterie-maido/maintainers

feat: mvp checkout and validation
  BACKLOG.md
  CHANGELOG.md
  docs/sprints/S10/BOARD.md
  docs/sprints/S10/DEMO.md
  docs/sprints/S10/INTERACTIONS.yaml
  docs/sprints/S10/PREFLIGHT.md
  schema.sql
  src/App.tsx
  src/components/ConfirmationModal.tsx
  src/components/__tests__/ConfirmationModal.test.tsx
  src/lib/__tests__/qr.test.ts
  src/lib/qr.ts
  src/pages/Success.tsx
  supabase/functions/create-checkout-session/index.ts
  supabase/functions/send-reservation-email/index.test.ts
  supabase/functions/send-reservation-email/index.ts
  supabase/functions/stripe-webhook/index.test.ts
  supabase/functions/stripe-webhook/index.ts
  supabase/migrations/20250906000000_reservation_validation_unique.sql
  tests/e2e/happy-path.test.ts
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops
