Repository Le-Bonnet-Digital/billeterie-maido, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billeterie-maido/maintainers, @billeterie-maido/frontend, @billeterie-maido/backend, @billeterie-maido/devops

chore: add husky and commitlint hooks
  .husky/commit-msg
  .husky/pre-commit
  AGENTS.md
  commitlint.config.js
  package-lock.json
  package.json
Owners: @billeterie-maido/maintainers

Configure secret scanning and document sensitive variables
  .github/workflows/ci.yml
  .husky/pre-commit
  README.md
Owners: @billeterie-maido/devops, @billeterie-maido/maintainers

Add accessibility testing and UI test script
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  src/__tests__/App.test.tsx
  src/test/setup.ts
Owners: @billeterie-maido/devops, @billeterie-maido/maintainers, @billeterie-maido/frontend

Enforce lint rules and validate cart inputs
  AGENTS.md
  eslint.config.js
  package-lock.json
  package.json
  src/components/EventCard.tsx
  src/components/Layout.tsx
  src/components/__tests__/MarkdownRenderer.test.tsx
  src/components/admin/EventForm.tsx
  src/components/admin/TimeSlotsManager.tsx
  src/hooks/__tests__/useEventDetails.test.ts
  src/hooks/useEvent.ts
  src/lib/__tests__/auth.test.ts
  src/lib/__tests__/cart.test.ts
  src/lib/cart.ts
  src/lib/eventDetails.ts
  src/lib/logger.ts
  src/lib/supabase.ts
  src/pages/Cart.tsx
  src/pages/__tests__/EventDetails.test.tsx
  src/pages/__tests__/FindTicket.test.tsx
  src/pages/admin/Communication.tsx
  src/pages/admin/Dashboard.tsx
  src/pages/admin/EventManagement.tsx
  src/pages/admin/PassManagement.tsx
  src/pages/admin/Reports.tsx
  src/pages/admin/ReservationManagement.tsx
  src/pages/admin/Settings.tsx
  src/pages/admin/TimeSlotManagement.tsx
  src/pages/admin/__tests__/Communication.test.tsx
Owners: @billeterie-maido/maintainers, @billeterie-maido/frontend

refactor: use console.debug in logger
  src/lib/logger.ts
Owners: @billeterie-maido/frontend

Add newline at end of test utils
  src/test/utils.tsx
Owners: @billeterie-maido/frontend

Refactor tests to avoid any usage
  src/lib/__tests__/auth.test.ts
  src/lib/__tests__/cart.test.ts
  src/lib/__tests__/eventStock.test.ts
  src/pages/__tests__/EventDetails.test.tsx
  src/services/__tests__/eventService.test.ts
  src/services/__tests__/faqService.test.ts
  src/test/setup.ts
Owners: @billeterie-maido/frontend

test: expand admin page coverage
  src/pages/admin/__tests__/Communication.test.tsx
  src/pages/admin/__tests__/Dashboard.test.tsx
  src/pages/admin/__tests__/EventManagement.test.tsx
  src/pages/admin/__tests__/PassManagement.test.tsx
  src/pages/admin/__tests__/Reports.test.tsx
  src/pages/admin/__tests__/ReservationManagement.test.tsx
  src/pages/admin/__tests__/TimeSlotManagement.test.tsx
Owners: @billeterie-maido/frontend

Add files via upload
  rapport-tests.xml
Owners: @billeterie-maido/maintainers

test: use explicit label selectors in CheckoutForm tests
  src/components/__tests__/CheckoutForm.test.tsx
Owners: @billeterie-maido/frontend

Test email and activity display
  src/components/__tests__/ConfirmationModal.test.tsx
Owners: @billeterie-maido/frontend

test: check markdown content with text predicate
  src/pages/__tests__/EventCGV.test.tsx
Owners: @billeterie-maido/frontend

test: activate CAPTCHA before searching
  src/pages/__tests__/FindTicket.test.tsx
Owners: @billeterie-maido/frontend

Relie le champ Date de début à son label
  src/pages/admin/Reports.tsx
Owners: @billeterie-maido/frontend

Read Supabase env dynamically
  src/lib/__tests__/supabase.test.ts
  src/lib/supabase.ts
Owners: @billeterie-maido/frontend

Add fixed test dimensions for report charts
  src/pages/admin/Reports.tsx
Owners: @billeterie-maido/frontend

refactor: hoist supabase mocks
  src/lib/__tests__/auth.test.ts
Owners: @billeterie-maido/frontend

Mock auth in AdminLayout tests
  src/pages/admin/__tests__/AdminLayout.test.tsx
Owners: @billeterie-maido/frontend

refactor: wrap supabase env access
  src/lib/supabase.ts
Owners: @billeterie-maido/frontend

Add files via upload
  rapport-tests2.xml
Owners: @billeterie-maido/maintainers

Replace BilletEvent queries with role-based lookup
  src/__tests__/App.test.tsx
  src/components/__tests__/Layout.test.tsx
Owners: @billeterie-maido/frontend

Ajoute gt au mock Supabase
  src/test/setup.ts
Owners: @billeterie-maido/frontend

Disable native form validation and stub Supabase env
  src/lib/__tests__/supabase.test.ts
  src/lib/supabase.ts
  src/pages/FindTicket.tsx
Owners: @billeterie-maido/frontend

test: submit find ticket form before asserting error
  src/pages/__tests__/FindTicket.test.tsx
Owners: @billeterie-maido/frontend

test: unmock Supabase module for config checks
  src/lib/__tests__/supabase.test.ts
Owners: @billeterie-maido/frontend

Use getAllByText in layout test and label cart link
  src/components/Layout.tsx
  src/components/__tests__/Layout.test.tsx
Owners: @billeterie-maido/frontend

feat: ajoute libellé accessible au lien panier
  src/components/Layout.tsx
  src/components/__tests__/Layout.test.tsx
Owners: @billeterie-maido/frontend

test: increase global test timeout to 20s
  vitest.config.ts
Owners: @billeterie-maido/maintainers

Add fake timer controls to apiClient tests
  src/lib/__tests__/apiClient.test.ts
Owners: @billeterie-maido/frontend

refactor: add wait helper for delays
  src/lib/wait.ts
  src/pages/Cart.tsx
  src/pages/__tests__/Cart.test.tsx
  src/pages/admin/Communication.tsx
  src/pages/admin/__tests__/Communication.test.tsx
  src/vite-env.d.ts
Owners: @billeterie-maido/frontend

fix: clear timeout in pass management effect
  src/pages/admin/PassManagement.tsx
Owners: @billeterie-maido/frontend

test: add useFaq hook tests
  src/hooks/__tests__/useFaq.test.ts
Owners: @billeterie-maido/frontend

test: add admin login component tests
  src/components/__tests__/AdminLogin.test.tsx
Owners: @billeterie-maido/frontend

test: add cart repository tests
  src/lib/__tests__/cartRepository.test.ts
Owners: @billeterie-maido/frontend

test: add useEvent hook tests
  src/hooks/__tests__/useEvent.test.ts
Owners: @billeterie-maido/frontend

test(wait): verify delay resolution
  src/lib/__tests__/wait.test.ts
Owners: @billeterie-maido/frontend

test: cover event stock success and error
  src/lib/__tests__/eventStock.test.ts
Owners: @billeterie-maido/frontend

test: cover EventDetails scenarios
  src/pages/__tests__/EventDetails.test.tsx
Owners: @billeterie-maido/frontend

test: cover useEventDetails edge cases
  src/hooks/__tests__/useEventDetails.test.ts
Owners: @billeterie-maido/frontend

test: add event details tests
  src/lib/__tests__/eventDetails.test.ts
Owners: @billeterie-maido/frontend

.github/CODEOWNERS:

# CODEOWNERS
* @billeterie-maido/maintainers
src/ @billeterie-maido/frontend
supabase/ @billeterie-maido/backend
.github/ @billeterie-maido/devops
